---
import Head from '../components/Head.astro';
import Footer from '../components/Footer.astro';
import type { Header } from '../ts/types';

interface Props extends Header {}

const { meta, productSchema, overlay } = Astro.props;
---

<!doctype html>
<html lang="en">
  <Head meta={meta} productSchema={productSchema} />
  <body>
    <slot />
    <Footer overlay={overlay ? true : false} />
  </body>
</html>
