---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import PortableText from '../components/PortableText.astro';
import { urlForImage } from '../api/urlForImage';

import { useSanityClient } from 'astro-sanity';

export async function getStaticPaths() {
  const posts = await useSanityClient().fetch(`*[_type == "post"]`);

  return posts.map((post) => {
    return {
      params: {
        slug: post.slug?.current || '',
      },
      props: { ...post },
    };
  });
}

const meta = {
  meta: {
    title: 'Loumarc Signs',
  },
};

const { title, mainImage, body } = Astro.props;
---

<Layout meta={meta}>
  <Header />
  <div class="section spot-color-primary page__buffer">
    <svg
      class="curve"
      preserveAspectRatio="none"
      viewBox="0 0 6000 400"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M0,72.594c0,-0 1523.98,170.758 2192.22,170.758c1056.92,-0 3807.78,-168.077 3807.78,-168.077l0,-75.275l-6000,-0l0,72.594Z"
      ></path>
    </svg>
    <div class="section__inner region">
      <div class="center">
        <div class="box">
          <h1>{title}</h1>
        </div>
      </div>
    </div>
    <svg
      class="curve"
      preserveAspectRatio="none"
      viewBox="0 0 6000 400"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M0,72.594c0,-0 1523.98,170.758 2192.22,170.758c1056.92,-0 3807.78,-168.077 3807.78,-168.077l0,-75.275l-6000,-0l0,72.594Z"
      ></path>
    </svg>
  </div>
  <div class="center region">
    {
      mainImage ? (
        <picture>
          <source
            srcset={urlForImage(mainImage).width(600).format('webp').url()}
            type="image/webp"
          />
          <img
            src={urlForImage(mainImage).width(600).format('jpg').url()}
            alt={mainImage.alt}
            class="image__primary"
          />
        </picture>
      ) : null
    }
  </div>
  <main class="content region flow prose">
    <PortableText portableText={body} />
  </main>
</Layout>
