---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import PortableText from "../components/PortableText.astro";
import { urlForImage } from "../api/urlForImage";

import { useSanityClient } from "astro-sanity";

export async function getStaticPaths() {
  const posts = await useSanityClient().fetch(`*[_type == "post"]`);

  return posts.map((post) => {
    return {
      params: {
        slug: post.slug?.current || "",
      },
      props: { ...post },
    };
  });
}

const meta = {
  meta: {
    title: "Loumarc Signs",
  },
};

const { title, mainImage, body } = Astro.props;
---

<Layout meta={meta}>
  <div class="center">
    <div class="cover">
      <Header />
      <h1>{title}</h1>
      <picture>
        <source
          srcset={urlForImage(mainImage).width(600).format("webp").url()}
          type="image/webp"
        />
        <img
          src={urlForImage(mainImage).width(600).format("jpg").url()}
          alt={mainImage.alt}
        />
      </picture>
    </div>
  </div>
  <main>
    <PortableText portableText={body} />
  </main>
</Layout>
