---
import Header from '../components/Header.astro';
import Layout from '../layouts/Layout.astro';
import AccessibilityForm from '../components/AccessibilityForm.astro';

const meta = {
  title: 'Loumarc Signs | High-end full service sign experts | Review us',
  canonicalURL: 'https://loumarcsigns.com/accessibility-statement/',
};
---

<Layout meta={meta}>
  <a href="#main" class="sr-only sr-only-focusable">Skip to content</a>
  <header>
    <Header />
    <div class="section spot-color-gray">
      <svg
        aria-hidden="true"
        class="slant"
        viewBox="0 0 1440 67"
        preserveAspectRatio="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path d="M0,66.398L1440,18.066L1440,0L0,0L0,66.398Z"></path>
      </svg>
      <div class="section__inner region">
        <div class="center">
          <div class="box">
            <h1 class="skewer leading-2">
              Accessibility Statement for Website for Loumarc Signs
            </h1>
          </div>
        </div>
      </div>
      <svg
        aria-hidden="true"
        class="slant"
        viewBox="0 0 1440 67"
        preserveAspectRatio="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path d="M0,66.398L1440,18.066L1440,0L0,0L0,66.398Z"></path>
      </svg>
    </div>
  </header>
  <main id="main">
    <article class="content region flow prose">
      <p>
        This is an accessibility statement from Wayne Advertising Agency, inc.
        DBA Loumarc Signs and Marketing.
      </p>

      <h2>Measures to support accessibility</h2>
      <p>
        Wayne Advertising Agency, inc. DBA Loumarc Signs and Marketing takes the
        following measures to ensure accessibility of Website for Loumarc Signs:
      </p>

      <ul>
        <li>Employ formal accessibility quality assurance methods.</li>
      </ul>
      <h2>Conformance status</h2>
      <p>
        The <a href="https://www.w3.org/WAI/standards-guidelines/wcag/"
          >Web Content Accessibility Guidelines (WCAG)</a
        > defines requirements for designers and developers to improve accessibility
        for people with disabilities. It defines three levels of conformance: Level
        A, Level AA, and Level AAA. Website for Loumarc Signs is partially conformant
        with WCAG 2.1 level AA. Partially conformant means that some parts of the
        content do not fully conform to the accessibility standard.
      </p>

      <h2>Feedback</h2>
      <p>
        We welcome your feedback on the accessibility of Website for Loumarc
        Signs. Please let us know if you encounter accessibility barriers on
        Website for Loumarc Signs:
      </p>

      <ul>
        <li>Phone: 908-575-4000</li>
        <li>
          Visitor Address: 178 US-206 Suite A, Hillsborough Township, NJ 08844
        </li>
      </ul>
      <p>We try to respond to feedback within 5 business days.</p>

      <h2>Compatibility with browsers and assistive technology</h2>
      <p>
        Website for Loumarc Signs is designed to be compatible with the
        following assistive technologies:
      </p>

      <ul>
        <li>
          The latest version of all current browsers, with native and latest
          relevant screen readers on Windows, macOS, and Linux.
        </li>
        <li>
          The latest version of all current mobile browsers, with native and
          latest relevant screen readers on iOS and Android devices.
        </li>
      </ul>
      <h2>Technical specifications</h2>
      <p>
        Accessibility of Website for Loumarc Signs relies on the following
        technologies to work with the particular combination of web browser and
        any assistive technologies or plugins installed on your computer:
      </p>

      <ul>
        <li>HTML</li>
        <li>WAI-ARIA</li>
        <li>CSS</li>
        <li>JavaScript</li>
      </ul>
      <p>
        These technologies are relied upon for conformance with the
        accessibility standards used.
      </p>

      <h2>Limitations and alternatives</h2>
      <p>
        Despite our best efforts to ensure accessibility of Website for Loumarc
        Signs , there may be some limitations. Below is a description of known
        limitations, and potential solutions. Please <a href="#contact-form">
          contact us if you observe an issue not listed below
        </a>.
      </p>

      <h2>Known limitations for Website for Loumarc Signs:</h2>

      <p>
        <strong>Headings</strong>: Some headers have color gradients because
        Some accessibility text and background contrast checkers mark these as
        not having correct contrast when indeed they do.. We monitor user usage,
        request feedback if they're having issues, and ensure there are proper
        AA compliance contrast for those gradients. Let us know by filling out
        the form below if you have an issue.
      </p>
      <h2>Assessment approach</h2>
      <p>
        Wayne Advertising Agency, inc. DBA Loumarc Signs and Marketing assessed
        the accessibility of Website for Loumarc Signs by the following
        approaches:
      </p>

      <ul>
        <li>Self-evaluation</li>
      </ul>
      <h2>Date</h2>
      <p>
        This statement was created on 4 April 2024 using the <a
          href="https://www.w3.org/WAI/planning/statements/"
          target="_blank"
          aria-label="Opens in a new tab"
          >W3C Accessibility Statement Generator Tool</a
        >.
      </p>
    </article>
    <AccessibilityForm />
  </main>
</Layout>
