---
import { useSanityClient } from 'astro-sanity';
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Card from '../components/Card.astro';

const posts = await useSanityClient().fetch(`*[_type == "post"]`);

const meta = {
  title: 'The latest blog posts from Loumarc Signs',
};
---

<Layout meta={meta}>
  <Header />
  <div class="section spot-color-primary page__buffer">
    <svg
      class="curve"
      preserveAspectRatio="none"
      viewBox="0 0 6000 400"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M0,72.594c0,-0 1523.98,170.758 2192.22,170.758c1056.92,-0 3807.78,-168.077 3807.78,-168.077l0,-75.275l-6000,-0l0,72.594Z"
      ></path>
    </svg>
    <div class="section__inner region">
      <div class="center">
        <div class="box">
          <h1>Blog posts from Loumarc Signs</h1>
        </div>
      </div>
    </div>
    <svg
      class="curve"
      preserveAspectRatio="none"
      viewBox="0 0 6000 400"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M0,72.594c0,-0 1523.98,170.758 2192.22,170.758c1056.92,-0 3807.78,-168.077 3807.78,-168.077l0,-75.275l-6000,-0l0,72.594Z"
      ></path>
    </svg>
  </div>
  <main class="wrapper">
    <article class="region flow">
      {
        posts && (
          <ul role="list" class="grid">
            {posts.map((post) => (
              <li>
                <Card
                  heading={post.title}
                  imgUrl={
                    post.mainImage
                      ? post.mainImage
                      : '/images/card-fallback-image.png'
                  }
                  alt={post.mainImage ? post.mainImage.alt : null}
                  excerpt={post.excerpt}
                  url={`/${post.slug.current}`}
                />
              </li>
            ))}
          </ul>
        )
      }
    </article>
  </main>
</Layout>
