---
import { useSanityClient } from "astro-sanity";
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Card from "../components/Card.astro";

const posts = await useSanityClient().fetch(`*[_type == "post"]`);

const meta = {
  meta: {
    title: "The latest blog posts from Loumarc Signs",
  },
};
---

<Layout meta={meta}>
  <div class="center box">
    <Header />
    <h1>Blog posts from Loumarc Signs</h1>
  </div>
  <main class="wrapper">
    <article class="region flow">
      {
        posts && (
          <ul role="list" class="grid">
            {posts.map((post) => (
              <li>
                <Card
                  heading={post.title}
                  imgUrl={
                    post.mainImage
                      ? post.mainImage
                      : "/images/card-fallback-image.png"
                  }
                  alt={post.mainImage ? post.mainImage.alt : null}
                  excerpt={post.excerpt}
                  url={post.slug.current}
                />
              </li>
            ))}
          </ul>
        )
      }
    </article>
  </main>
</Layout>
