---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Card from '../components/Card.astro';
import { useSanityClient } from 'astro-sanity';

const products = await useSanityClient().fetch(`*[_type == "product"]`);

const meta = {
  title: 'Loumarc Signs | High-end full service sign experts',
  canonicalURL: 'https://loumarcsigns.com',
};
---

<Layout meta={meta}>
  <a href="#main" class="sr-only sr-only-focusable">Skip to content</a>
  <Header location="home" />
  <div class="center" data-location="home">
    <div class="cover" data-location="home">
      <h1 class="text-center font-weight-base font-size-6 max-inline-size-full">
        Bringing visibility <br />to your goals
      </h1>
      <img
        src="/images/demo-sign.jpg"
        alt="Photo of channel letter sign that gives the site presense."
      />
    </div>
  </div>
  <main role="main" id="main">
    <article class="wrapper region flow">
      <div class="switcher">
        <form class="box" name="first-cta" method="POST" data-netlify="true">
          <input
            type="hidden"
            name="subject"
            value="🤖: Main CTA from loumarcsigns.com home page"
          />
          <div class="stack">
            <p class="stack step-0">
              <label for="name">Name</label>
              <input type="text" name="name" />
            </p>
            <p class="stack step-0">
              <label for="email">Email</label>
              <input type="email" name="email" />
            </p>
            <p class="stack step-0">
              <label for="phone">Phone</label>
              <input type="tel" name="phone" />
            </p>
            <p class="stack step-0">
              <label for="message">What are you looking to accomplish?</label>
              <textarea name="message"></textarea>
            </p>
            <p>
              <button type="submit">Send</button>
            </p>
          </div>
        </form>
        <div
          class="box flex items-center justify-center text-center rounded spot-color-secondary"
        >
          <h3>Achieve the awareness your business deserves</h3>
        </div>
      </div>
    </article>
    <article class="region flow">
      <div class="wrapper">
        <h2>Products</h2>
      </div>
      <div class="box">
        {
          products && (
            <ul role="list" class="reel">
              {products.map((product) => (
                <li>
                  <Card
                    heading={product.title}
                    imgUrl={
                      product.mainImage
                        ? product.mainImage
                        : '/images/card-fallback-image.png'
                    }
                    alt={product.mainImage ? product.mainImage.alt : undefined}
                    excerpt={product.excerpt}
                    url={product.slug.current}
                  />
                </li>
              ))}
            </ul>
          )
        }
      </div>
    </article>
    <article class="region section spot-color-tertiary-dark">
      <svg
        aria-hidden="true"
        class="slant"
        viewBox="0 0 1440 67"
        preserveAspectRatio="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path d="M0,66.398L1440,18.066L1440,0L0,0L0,66.398Z"></path>
      </svg>
      <div class="section__inner region">
        <div class="wrapper">
          <h2>What to expect</h2>
          <div class="region switcher">
            <div class="flex justify-center items-center">
              <img
                src="/images/loumarc-signs-shutterstock-meet-400.jpg"
                alt="Loumarc Signs meeting client"
              />
            </div>
            <div class="flow">
              <h3>Meet</h3>
              <p>
                The first step is a conversation to better understand who you
                are, and what you want to accomplish. We know this is a step
                towards greater success, and we want to ensure we're in
                alignment along the journey! We'll help you generate, and give
                you an idea of what to expect. We're here to serve you, so feel
                free to follow up with any clarifying questions you may have.
              </p>
            </div>
          </div>
          <div class="region switcher">
            <div class="flow">
              <h3>Design</h3>
              <p>
                Once we have a clear understanding of your goals, we'll measure
                and collect photographs of your sign location. We'll craft a
                design that meets your qualifications, and brings life to your
                brand. We are tactical about the tools we use to ensure your
                vision will be executed well, and that you'll have the
                exceptional visibility you deserve.
              </p>
            </div>
            <div class="flex justify-center items-center">
              <img
                src="/images/design.jpg"
                alt="Designer ready to start making your brand more visible"
              />
            </div>
          </div>
          <div class="region switcher">
            <div class="flex justify-center items-center">
              <img
                src="/images/demo-sign-build.jpg"
                alt="A channel letter sign that gives this site great presence"
              />
            </div>
            <div class="flow">
              <h3>Build</h3>
              <p>
                Once we have all the necessary approvals, our team transforms
                those designs into compelling awareness that will elevate your
                visibility. We're here to remove weight on your shoulders.
                Throughout the process, we'll be reaching out at specific touch
                points, for instance to inform you of zoning approvals, and to
                let you get more time back to focus on your business.
              </p>
            </div>
          </div>
        </div>
      </div>
      <svg
        aria-hidden="true"
        class="slant"
        viewBox="0 0 1440 67"
        preserveAspectRatio="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path d="M0,66.398L1440,18.066L1440,0L0,0L0,66.398Z"></path>
      </svg>
    </article>
    <article class="wrapper region flow">
      <h2>Who we are</h2>
      <div class="flow">
        <div class="region switcher">
          <div class="flow">
            <h3>Eddie Palardy</h3>
            <p>
              Having been a business owner and coupled with his accounting
              background, Eddie understands the needs of businesses. He brought
              his knowledge and experience into the sign industry in 2016.
              Having the need to grow in a more efficient and better established
              environment, he moved to Loumarc Signs early in 2020 and has
              quickly proved his value to our customers.
            </p>
          </div>
          <div class="flex justify-center items-center">
            <img
              src="/images/eddy.jpg"
              alt="Photo of marketing specialist Eddy"
            />
          </div>
        </div>
        <div class="region switcher">
          <div class="flex justify-center items-center">
            <img src="/images/25-years.png" alt="25 years in business!" />
          </div>
          <div class="flow">
            <h3>Building high quality signs in New Jersey</h3>
            <p>
              Loumarc Signs has been creating custom signs in NJ and providing
              marketing solutions in Middlesex, Somerset counties & surrounding
              areas since 1994. Find out how Loumarc Signs can help grow your
              brand today. We look forward to helping you create the ultimate
              indoor or outdoor sign in NJ!
            </p>
          </div>
        </div>
      </div>
    </article>
  </main>
</Layout>
