---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import { getFirstBlogPost } from "../api/sanity";

const firstPost = await getFirstBlogPost();

export interface Props {
  content: {
    title: string;
    desc: string;
  };
}

const content = {
  title: "Loumarc Signs",
  desc: "Yes...",
};
---

<Layout content={content}>
  <div class="center">
    <div class="cover">
      <Header />
    </div>
  </div>
  <main>
    <p>
      {JSON.stringify(firstPost, null, 2)}
    </p>
  </main>
</Layout>
