---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import { getFirstBlogPost } from "../api/sanity";
import PortableText from "../components/PortableText.astro";
import { urlForImage } from "../api/urlForImage";

const data = await getFirstBlogPost();

export interface Props {
  content: {
    title?: string;
    description?: string;
  };
}

const content = {
  title: "Loumarc Signs",
};
---

<Layout content={content}>
  <div class="center">
    <div class="cover">
      <Header />
    </div>
  </div>
  <main>
    <h1>{data.title}</h1>
    <picture>
      <source
        srcset={urlForImage(data.mainImage).width(600).format("webp").url()}
        type="image/webp"
      />
      <img
        src={urlForImage(data.mainImage).width(600).format("jpg").url()}
        alt={data.mainImage.alt}
      />
    </picture>
    <PortableText portableText={data.body} />
  </main>
</Layout>
