---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import { getFirstBlogPost } from "../api/sanity";
import PortableText from "../components/PortableText.astro";
import { urlForImage } from "../api/urlForImage";

const data = await getFirstBlogPost();

const meta = {
  title: "Loumarc Signs",
};
---

<Layout meta={meta}>
  <div class="center">
    <div class="cover">
      <Header />
      <h1>Bringing visibility to your goals</h1>
    </div>
  </div>
  <main>
    <form name="first-cta" method="POST" data-netlify="true">
      <p>
        <label>Name <input type="text" name="name" /></label>
      </p>
      <p>
        <label>Email <input type="email" name="email" /></label>
      </p>
      <p>
        <label>Phone <input type="tel" name="email" /></label>
      </p>
      <p>
        <label
          >What are you looking to accomplish? <textarea name="message"
          ></textarea></label
        >
      </p>
      <p>
        <button type="submit">Send</button>
      </p>
    </form>
  </main>
</Layout>
