---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";

const meta = {
  title: "Loumarc Signs",
};
---

<Layout meta={meta}>
  <a href="#main" class="sr-only sr-only-focusable">Skip to content</a>
  <Header location="home" />
  <div class="center" data-location="home">
    <div class="cover" data-location="home">
      <h1 class="text-center font-weight-base font-size-6 max-inline-size-full">
        Bringing visibility <br />to your goals
      </h1>
      <img src="/images/demo-sign.jpg" alt="" />
    </div>
  </div>
  <main class="wrapper" role="main" id="main">
    <article class="region flow">
      <div class="switcher">
        <form class="box" name="first-cta" method="POST" data-netlify="true">
          <input
            type="hidden"
            name="subject"
            value="🤖: Main CTA from loumarcsigns.com home page"
          />
          <div class="stack">
            <p class="stack step-0">
              <label for="name">Name</label>
              <input type="text" name="name" />
            </p>
            <p class="stack step-0">
              <label for="email">Email</label>
              <input type="email" name="email" />
            </p>
            <p class="stack step-0">
              <label for="phone">Phone</label>
              <input type="tel" name="phone" />
            </p>
            <p class="stack step-0">
              <label for="message">What are you looking to accomplish?</label>
              <textarea name="message"></textarea>
            </p>
            <p>
              <button type="submit">Send</button>
            </p>
          </div>
        </form>
        <h3 class="box flex items-center">
          Achieve the awareness your business deserves
        </h3>
      </div>
    </article>
    <article class="region flow">
      <h2>Products</h2>
      <div class="reel">
        <div class="card">
          <a href="#">
            <img src="/images/demo-sign.jpg" alt="Demo sign alt text" />
            <div class="card-content flow">
              <h3>Channel letters</h3>
              <p>
                There are many things to consider when choosing lighted channel
                letter signs for your business. Reverse illuminated or lighted
                acrylic face? LED illumination or neon illumination?
              </p>
            </div>
          </a>
        </div>
        <div class="card">
          <a href="#">
            <img src="/images/demo-sign.jpg" alt="Demo sign alt text" />
            <div class="card-content flow">
              <h3>Channel letters</h3>
              <p>
                There are many things to consider when choosing lighted channel
                letter signs for your business. Reverse illuminated or lighted
                acrylic face? LED illumination or neon illumination?
              </p>
            </div>
          </a>
        </div>
        <div class="card">
          <a href="#">
            <img src="/images/demo-sign.jpg" alt="Demo sign alt text" />
            <div class="card-content flow">
              <h3>Channel letters</h3>
              <p>
                There are many things to consider when choosing lighted channel
                letter signs for your business. Reverse illuminated or lighted
                acrylic face? LED illumination or neon illumination?
              </p>
            </div>
          </a>
        </div>
        <div class="card">
          <a href="#">
            <img src="/images/demo-sign.jpg" alt="Demo sign alt text" />
            <div class="card-content flow">
              <h3>Channel letters</h3>
              <p>
                There are many things to consider when choosing lighted channel
                letter signs for your business. Reverse illuminated or lighted
                acrylic face? LED illumination or neon illumination?
              </p>
            </div>
          </a>
        </div>
        <div class="card">
          <a href="#">
            <img src="/images/demo-sign.jpg" alt="Demo sign alt text" />
            <div class="card-content flow">
              <h3>Channel letters</h3>
              <p>
                There are many things to consider when choosing lighted channel
                letter signs for your business. Reverse illuminated or lighted
                acrylic face? LED illumination or neon illumination?
              </p>
            </div>
          </a>
        </div>
      </div>
    </article>
    <article class="region flow">
      <h2>What to expect</h2>
    </article>
    <article class="region flow">
      <h2>Who we are</h2>
    </article>
  </main>
</Layout>
