---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import { getFirstBlogPost } from "../api/sanity";
import PortableText from "../components/PortableText.astro";
import { urlForImage } from "../api/urlForImage";

const data = await getFirstBlogPost();

const meta = {
  title: "Loumarc Signs",
};
---

<Layout meta={meta}>
  <div class="center">
    <div class="cover">
      <Header />
      <h1>Bringing visibility to your goals</h1>
    </div>
  </div>
  <main></main>
</Layout>
