---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import { Picture } from 'astro:assets';

const meta = {
  title:
    'Thank you for contacting Loumarc Signs | High-end full service sign experts',
  canonicalURL: 'https://loumarcsigns.com',
};

import heroImage from '../assets/Amazon-trusts-Loumarc-Signs-01.jpg';
---

<Layout meta={meta} overlay={true}>
  <a href="#main" class="sr-only sr-only-focusable">Skip to content</a>
  <header>
    <Header location="home" />
  </header>
  <div class="center" data-location="home" id="main">
    <div class="cover" data-location="home">
      <div class="flow">
        <h1
          class="text-center font-weight-base font-size-6 max-inline-size-full step-7"
        >
          Thank you for contacting us!
        </h1>
        <h2
          class="text-center font-weight-base font-size-6 max-inline-size-full step-7"
        >
          We'll reach out shortly.
        </h2>
      </div>
      <Picture
        src={heroImage}
        widths={[300, 800, 2000, heroImage.width]}
        sizes={`(max-width: 360px) 300px, (max-width: 720px) 800px, (max-width: 1600px) 2000px, ${heroImage.width}px`}
        class="object-contain h-auto"
        alt="Amazon trusts Loumarc Signs to create their signs"
        fetchpriority={'high'}
        loading={'eager'}
        quality={80}
        formats={['avif', 'webp']}
      />
    </div>
  </div>
</Layout>
