.card {
  margin: var(--space-m-l);
  width: 400px;
  background: var(--gray300);
  border-radius: var(--border-radius);
  overflow: hidden;
}
.card > a {
  text-decoration: none;
}
.card > a:hover h3 {
  text-decoration: underline;
}
.card img,
.card picture,
.card source {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 16 / 9;
}
.card-content {
  padding: var(--space-s-m);
}
