/* Main navigation */

#main-navigation {
  --tracking: 0;
  letter-spacing: var(--tracking);
  justify-content: space-between;
  display: flex;
  position: fixed;
  top: var(--space-m);
  z-index: 500;
  padding: 0 3vw;
  width: 100vw;
  -webkit-user-select: none;
  user-select: none;
}

#main-navigation ul.desktop {
  justify-content: flex-start;
  list-style: none;
  display: flex;
  padding-inline-start: 0;
  -webkit-backdrop-filter: blur(18px);
  backdrop-filter: blur(18px);
  transition: opacity 0.4s;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.2);
  padding: 14px 24px 16px;
}

#main-navigation ul,
#main-navigation span {
  font-size: var(--space-xs);
}

#main-navigation ul li {
  margin-inline: 0;
}

.desktop-nav a,
#main-navigation .button {
  text-decoration: none;
}

.desktop-nav a:hover,
#desktop-nav a:focus,
#desktop-nav a:active {
  border-bottom: 2px solid var(--warmbreeze1000);
}

#main-navigation .button:hover {
  border: none;
}

.desktop-nav,
.header-logo {
  display: none;
}

/* Mobile nav */

.mobile-nav-container {
  position: fixed;
  display: none;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  inset-block-start: 50%;
  inset-inline-start: 50%;
  transform: translate(-50%, -50%);
  background: var(--gray1200);
  width: 100dvw;
  height: 100dvh;
}

.mobile-nav-container ul {
  display: flex;
  flex-flow: column nowrap;
  list-style: none;
  padding-inline-start: 0;
}

.mobile-nav-container ul li a,
.mobile-nav-container ul li a:visited {
  color: var(--gray100);
  font-size: var(--step-3);
  text-decoration: none;
}

.mobile-nav-container ul li a:hover,
.mobile-nav-container ul li a:focus,
.mobile-nav-container ul li a:active {
  border-bottom: 2px solid var(--gray100);
}

.mobile-open {
  -webkit-backdrop-filter: blur(18px);
  backdrop-filter: blur(18px);
  transition: opacity 0.4s;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.2);
  padding: 0.5rem 1rem 0.05rem;
  border: none;
  background: none;
  color: var(--gray1200);
}

.mobile-close {
  position: absolute;
  display: block;
  border: none;
  background: none;
  color: var(--gray100);
  top: var(--space-m);
  left: var(--space-m);
  color: var(--gray100);
  font-size: var(--step-3);
}

.mobile-nav-logo {
  font-size: var(--step-6);
  color: var(--bronzeLoud);
  margin-block-end: var(--space-l);
}

@media (min-width: 700px) {
  .desktop-nav,
  .header-logo {
    display: flex;
  }

  .mobile-nav {
    display: none;
  }
}

.mobile-nav-container.is-active {
  display: flex;
}
@media (max-width: 700px) {
}
