---
import { useSanityClient } from "astro-sanity";
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import Card from "../../components/Card.astro";

const products = await useSanityClient().fetch(`*[_type == "product"]`);

const meta = {
  title: "Products | Loumarc Signs",
  canonicalURL: "https://loumarcsigns.com/products/",
};
---

<Layout meta={meta}>
  <Header />
  <div class="section spot-color-primary page__buffer">
    <svg
      aria-hidden="true"
      class="slant"
      viewBox="0 0 1440 67"
      preserveAspectRatio="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M0,66.398L1440,18.066L1440,0L0,0L0,66.398Z"></path>
    </svg>
    <div class="section__inner region">
      <div class="center">
        <div class="box">
          <h1>Products</h1>
        </div>
      </div>
    </div>
    <svg
      aria-hidden="true"
      class="slant"
      viewBox="0 0 1440 67"
      preserveAspectRatio="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M0,66.398L1440,18.066L1440,0L0,0L0,66.398Z"></path>
    </svg>
  </div>
  <main>
    <article class="region flow box">
      {
        products && (
          <ul role="list" class="grid">
            {products.map((product) => (
              <li>
                <Card
                  dataLayout="full"
                  heading={product.title}
                  imgUrl={
                    product.mainImage
                      ? product.mainImage
                      : "/images/card-fallback-image.png"
                  }
                  alt={product.mainImage ? product.mainImage.alt : undefined}
                  excerpt={product.excerpt}
                  url={product.slug.current}
                />
              </li>
            ))}
          </ul>
        )
      }
    </article>
  </main>
</Layout>
