---
const year = new Date().getFullYear();
---

<footer class="spot-color-secondary">
  <svg
    class="curve"
    preserveAspectRatio="none"
    viewBox="0 0 6000 400"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M0,72.594c0,-0 1523.98,170.758 2192.22,170.758c1056.92,-0 3807.78,-168.077 3807.78,-168.077l0,-75.275l-6000,-0l0,72.594Z"
    ></path>
  </svg>
  <div class="section__inner region">
    <small class="wrapper flow">© Copyright Loumarc Signs {year}</small>
  </div>
</footer>
