---
---

<header id="main-navigation" class="cluster">
  <h1 class="font-display">
    <a href="/">Loumarc Signs</a>
  </h1>
  <ul role="list" class="cluster">
    <li><a href="/">Products</a></li>
    <li><a href="/blog/">Blog</a></li>
    <li><a href="https://linkedin.com/company/loumarc-signs">LinkedIn</a></li>
    <li><a href="/blog/">Contact</a></li>
  </ul>
</header>
