.center[data-location='home'] {
  background-color: #b9c9e5;
  max-inline-size: 100vw !important;
}
.cover[data-location='home'] {
  padding: 0;
}

.cover[data-location='home'] > :first-child {
  margin-block: auto;
}

@media (min-width: 700px) {
  .cover[data-location='home'] > :first-child {
    margin-block-start: 20vh;
  }
}

.grid[data-grid-min-item='s'] {
  --grid-min-item-size: 300px;
}
