.center[data-location='home'] {
  background-color: #b9c9e5;
  max-inline-size: 100vw !important;
}
.cover[data-location='home'] {
  padding: 0;
}

.cover[data-location='home'] > :first-child {
  margin-block: auto;
  /* margin-block-start: 20vh; */
}

@media (min-width: 700px) {
  .cover[data-location='home'] > :first-child {
    margin-block-start: 20vh;
  }
}

.grid[data-grid-min-item='s'] {
  --grid-min-item-size: 300px;
}

@media (min-width: 35em) {
  .image-negative-block-margin {
    width: auto;
    margin-block-start: calc(0.5 * var(--negative-gutter));
    margin-block-end: calc(0.5 * var(--negative-gutter));
  }
}

/* Media queries
@media (min-width: 35em) {
}

@media (min-width: 50em) {
}

@media (min-width: 80em) {
}

@media (min-width: 90em) {
}

@media (min-width: 120em) {
}
*/
