/* Utility classes */

/* Width */

.max-inline-size\:measure-lg {
  max-inline-size: calc(var(--measure) * 1.25) !important;
}

.max-inline-size\:measure {
  max-inline-size: var(--measure) !important;
}

.max-inline-size\:measure\/2 {
  max-inline-size: calc(var(--measure) / 1.25) !important;
}

.max-inline-size-full {
  max-inline-size: 100vw;
}

/* Reel */

.reel[data-gap='m-l'] {
  --grid-gap: var(--space-m-l);
}

/* Card */

.card[data-layout='full'] {
  --max-width: auto;
}

/* Gallery */

/* Convert to data attribute data-gap='none' */
.gallery {
  --grid-gap: 0;
}

/* Grid */

.grid[data-gap='s-m'] {
  --grid-gap: var(--space-s-m);
}

.grid[data-layout='50-50'] {
  --grid-placement: auto-fit;
  --grid-min-item-size: clamp(16rem, 50vw, 26rem);
}

.grid[data-rows='masonry'] {
  align-items: start;
  grid-template-rows: masonry;
}

/* Flex */

.flex {
  display: flex;
}
.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

/* Media */

.object-contain {
  object-fit: contain;
}

.aspect-video {
  aspect-ratio: 16 / 9;
}

/* Font */

.uppercase {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.font-weight-base {
  font-weight: var(--font-weight-base);
}

.step--2 {
  font-size: var(--step--2);
}
.step--1 {
  font-size: var(--step--1);
}
.step-0 {
  font-size: var(--step-0);
}
.step-1 {
  font-size: var(--step-1);
}
.step-2 {
  font-size: var(--step-2);
}
.step-3 {
  font-size: var(--step-3);
}
.step-4 {
  font-size: var(--step-4);
}
.step-5 {
  font-size: var(--step-5);
}
.step-6 {
  font-size: var(--step-6);
}
.step-7 {
  font-size: var(--step-7);
}

/* General */

.relative {
  position: relative;
}

.hidden {
  display: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.top-pad {
  padding-block-start: var(--gutter);
}

.block {
  display: block;
}

.w-3\/4 {
  width: 75%;
}
.h-3\/4 {
  height: 75%;
}

.currentColor {
  fill: currentColor;
}

/*
	Improved screen reader only CSS class
	@author Gaël Poupard
		@note Based on Yahoo!'s technique
		@author Thierry Koblentz
		@see https://developer.yahoo.com/blogs/ydn/clip-hidden-content-better-accessibility-53456.html
	* 1.
		@note `clip` is deprecated but works everywhere
		@see https://developer.mozilla.org/en-US/docs/Web/CSS/clip
	* 2.
		@note `clip-path` is the future-proof version, but not very well supported yet
		@see https://developer.mozilla.org/en-US/docs/Web/CSS/clip-path
		@see http://caniuse.com/#search=clip-path
		@author Yvain Liechti
		@see https://twitter.com/ryuran78/status/778943389819604992
	* 3.
		@note preventing text to be condensed
		author J. Renée Beach
		@see https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
		@note Drupal 8 goes with word-wrap: normal instead
		@see https://www.drupal.org/node/2045151
		@see http://cgit.drupalcode.org/drupal/commit/?id=5b847ea
	* 4.
		@note !important is important
		@note Obviously you wanna hide something
		@author Harry Roberts
		@see https://csswizardry.com/2016/05/the-importance-of-important/
*/

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important; /* 2 */
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important; /* 3 */
}

/*
	Use in conjunction with .sr-only to only display content when it's focused.
	@note Useful for skip links 
	@see http://www.w3.org/TR/2013/NOTE-WCAG20-TECHS-20130905/G1
	@note Based on a HTML5 Boilerplate technique, included in Bootstrap
	@note Fixed a bug with position: static on iOS 10.0.2 + VoiceOver
		@author Sylvain Pigeard
		@see https://github.com/twbs/bootstrap/issues/20732
*/
.sr-only-focusable:focus,
.sr-only-focusable:active {
  clip: auto !important;
  -webkit-clip-path: none !important;
  clip-path: none !important;
  height: auto !important;
  margin: auto !important;
  overflow: visible !important;
  width: auto !important;
  white-space: normal !important;
}

.slant {
  fill: var(--spot-color, var(--color-light));
  display: block;
  height: 3.5em;
  width: 100%;
}

/* Spot colors */

.spot-color-primary {
  --spot-color: var(--sea100);
  --spot-color-text: var(--sea700);
}

.spot-color-primary-dark {
  --spot-color: var(--sea1000);
  --spot-color-text: var(--sea100);
}

.spot-color-secondary {
  --spot-color: var(--lime100);
  --spot-color-text: var(--lime700);
}

.spot-color-secondary-dark {
  --spot-color: var(--lime1000);
  --spot-color-text: var(--lime100);
}

.spot-color-tertiary {
  --spot-color: var(--bronze100);
  --spot-color-text: var(--bronze700);
}

.spot-color-tertiary-dark {
  --spot-color: var(--bronze1000);
  --spot-color-text: var(--bronze100);
}

.section__inner {
  background: var(--spot-color, var(--color-light));
  color: var(--spot-color-text, var(--color-dark));
}

.section > .slant {
  transform: translateY(-1px);
}

.section > .slant:first-child {
  transform: rotate(180deg) translateY(-1px);
}

.page__buffer {
  margin-block-start: 20vh;
}

.image__primary {
  width: 100%;
}

.rounded {
  border-radius: var(--border-radius);
}
